@charset "ISO-8859-1";
        h1{
            color:rgb(94, 74, 248);
            text-align: center;
            padding-bottom: 10px;

        }
        .loginbox{
            width: 353px;
            height: 450px;
            top: 50%;
            left: 50%;
            position: absolute;
            box-sizing: border-box;
            background-color:white;
            transform: translate(-50%, -50%);
            text-align: center;
            
          

        }
        body{
            margin:0;
            padding:0;
            background-color:#325ba886;
            background-size: cover;
            background-position: center;
            font-family: sans-serif;
            height:100vh;
            overflow: hidden;
        }
       img{
       width:70px;
       height:70px;
       padding-top: 10px;
       padding-bottom:-50px;
       }